@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./assets/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
}
.cm-editor.cm-focused {
	outline: none;
}
#editor {
	height: 100vh;
	overflow-y: auto;
}

/* #minimap {
  position: fixed;
  top: 24px;
} */

/* .ͼot .cm-minimap-overlay-container.cm-minimap-overlay-off {
  display: block;
  height: 100px;
} */
