@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
}
.cm-editor.cm-focused {
  outline: none;
}
